.input-wrapper {
    .label 
    {
        font-size: 16px;
        color: #ffffff;
        margin: 0px;
        margin-bottom: 7px;
    }

    .input 
    {
        border: 1px solid #E5E5E5;
        padding: 12px;
        border-radius: 8px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
}

